@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik&display=swap');

:root {
  /*=========== Colors ===========*/
  --first-color: rgb(25, 138, 250);
  --first-color-light: rgb(100, 176, 252);
  --first-color-alt: rgb(4, 94, 185);
  --first-color-lighter: rgb(243, 245, 246);
  --title-color: rgb(34, 38, 43);
  --text-color: rgb(79, 89, 100);
  --text-color-light: rgb(155, 166, 176);
  --white: #fff;
  --body-color: rgb(250, 252, 255);

  /*========== Fonts and typography ==========*/

  --body-font: 'Lato', sans-serif;
  --pricing-font: 'Rubik', sans-serif;

  --biggest-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.913rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Margenes / Bottom  ==========*/

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 0.5rem;
  --mb-2: 2rem;
}

/*===================== Reset ================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===================== Reusable css class ================*/

.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*===================== Cards pricing ====================*/

.card {
  /* this is the Section tag */
  padding: 3rem 0; /* padding top/bottom = 3 */
}

.card-container {
  /*this is the div tag  for the cards container */

  gap: 3rem 1.25rem;
}

.card-content {
  /* this is an article tag, this tag stores all cards content */
  position: relative;
  background-color: var(--white);
  padding: 2rem 1.5rem 2.5rem; /*top = 2 / left and right = 1.5/ bottom = 2.5*/
  box-shadow: 0 12px 24px rgba(16, 41, 66, 0.1);
  border-radius: 1.75rem;
  transition: 0.4s;
}

.card-content:hover {
  box-shadow: 0 16px 24px rgba(16, 41, 66, 0.15);
}

.card-header-img {
  width: 30px;
  height: 30px;
}

.card-header-circle {
  /*this is an image div, this is to create a circle around the image */
  background-color: var(--first-color-lighter);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  place-items: center;
  margin-bottom: var(--mb-1);
}

.card-header-subtitle {
  /* This is a span tag */
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-transform: uppercase;
  display: block;
  margin-bottom: var(--mb-0-25);
}

.card-header-title {
  /* This is a h1 tag */
  color: var(--title-color);
  font-size: var(--biggest-font-size);
  margin-bottom: var(--mb-1);
}

.card-pricing {
  /* this is a container for the price per month */
  position: absolute;
  background: linear-gradient(
    157deg,
    var(--first-color-light) -12%,
    var(--first-color) 109%
  );
  width: 60px;
  height: 88px;
  right: 1.5rem;
  top: -1rem;
  padding-top: var(--mb-1-25);
  text-align: center;
}

.card-pricing-number {
  font-family: var(--pricing-font);
  font-size: var(--h2-font-size);
}

.card-pricing-symbol {
  /* this is a span tag  for the $ symbol */
  font-size: var(--smaller-font-size);
}

.card-pricing-month {
  /* this is a span tag for the month */
  font-size: var(--tiny-font-size);
  display: block;
}

.card-pricing-number,
.card-pricing-month {
  color: var(--white);
}

.card-pricing::after,
.card-pricing::before {
  content: '';
  position: absolute;
}

.card-pricing::after {
  width: 100%;
  height: 13px;
  background-color: var(--white);
  left: 0;
  bottom: 0;
  /* create a polygonal forms */
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.card-pricing::before {
  width: 14px;
  height: 16px;
  background: var(--first-color-alt);
  top: 0;
  left: -14px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.card-list {
  row-gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.card-list-item {
  display: flex;
  align-items: center;
}

.card-list-icon {
  color: var(--first-color);
  font-size: 1.5rem;
}

.card-button {
  padding: 1.25rem;
  border: none;
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  background: linear-gradient(
    157deg,
    var(--first-color-light),
    var(--first-color) 
  );
  color: var(--white);
  font-weight: bold;
  transition: .4s;
}

.card-button:hover {
  box-shadow: 0 12px 24px rgba(24, 138, 251, .2)
}







/*===================== Media Queries ====================*/
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.125rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.913rem;
    --tiny-font-size: 0.688rem;
  }
}


/* ====== For small devices ======*/
@media screen and (max-width: 320px){

/* this is a Section tag */
.container {
  margin: 0 var(--mb-1);
}

/* this is an Article tag */
.card-content {
  padding: 2rem 1.25rem;
  border-radius: 1rem;
}
}


/* ====== For medium devices ======*/

@media screen and (min-width: 568px){

  /* This is a div container for the cards */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* this is an Article tag */
  .card-content {
    grid-template-rows: repeat(2rem, max-content);
    
  }
  .card-button {
    align-self: flex-end;
  }
  

}

/* ====== For large devices ======*/

@media screen and (min-width: 968px){ 
  /* this is a Section tag */
  .container {
    margin: 0 auto;
    height: 100vh;
    align-items: center;
  }

  /* This is a div container for the cards */
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-header-circle {
    margin-bottom: var(--mb-1-25);
  }

  .card-header-subtitle {
    font-size: var(--small-font-size);
  }
  
}